body {
background-color: rgb(242, 191, 96);
height: 100vh;

}

main {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

}


#maintitle {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1/2;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  text-decoration: underline;

}

#theme {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2/3;
  text-align: center;
  font-size: 40px;
  padding: 10px;

}

#letterbank {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3/5;
  padding: 10px;
  border-width: 10px;
  text-align: center;
  

}



.alphabet {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3/5;
  text-align: center;
  padding-block: 30px;
  font-size: 30px;
  
}




#hangmanbox {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 3/5;
  padding-top: 20px;
  text-align: center;
}

#puzzle {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 5/8;
  padding-block: 70px;
  text-align: center;
}

#blanks {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 5/8;
  padding-block: 70px;
  text-align: center;
}


input {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 3/4;
  width: 70px;
  height: 70px;
}

#input-prompt{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 3/4;
  position: relative;
  top: 65px;
}



.hidden {
  visibility: hidden;
}

#head {
  background: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative; left:225px;
}


#body {
  background: lightblue;
  width: 5px;
  height: 105px;
  position:relative; left:247px;
}

#rightleg {
  background: lightblue;
  width: 5px;
  height: 57px;
  position:relative; left: 264px; top: -60px;
  transform: rotate(-30deg);
}


#leftleg {
  background: lightblue;
  width: 5px;
  height: 57px;
  position:relative; left:230px; top: -3px;
  transform: rotate(30deg);
}


#rightarm {
  background: lightblue;
  width: 5px;
  height: 50px;
  position: relative; left:264px; top: -250px;
  transform: rotate(-25deg);
}

#leftarm {
  background: lightblue;
  width: 5px;
  height: 50px;
  position: relative; left: 230px; top:-200px;
  transform: rotate(25deg);
}




